<h1>Review added to your site <%= @site.name %></h1>
<br>
<p>
  Dear <%= @site.user.first_name %>,<br>
  A review has been posted to your site, <%= @site.name %>. <br>
  <br>
  You can view it <%= link_to "here", site_url(@site) %>.<br>
  <br>
  Thank you for your support, from all of us here at Git That Wifi.
</p>
